**/*.iml
**/*.swp
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/build
**/build_gradle
**/node_modules
**/tmp
**/bin
**/test-coverage
.gradle
.idea
bundles
liferay-plugins-sdk-6.2/**/classes
liferay-plugins-sdk-6.2/**/ivy.xml.MD5
liferay-plugins-sdk-6.2/**/liferay-hook.xml.processed
liferay-plugins-sdk-6.2/dependencies/**/*.jar
liferay-plugins-sdk-6.2/dist
liferay-plugins-sdk-6.2/lib
artifacts
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
osgi/lib/plugin/bnd-repository.jar
**/themes/**
**/tools/**
**/shared/**
**/lib/**
**/dependencies/**